.success{
	text-align:center;
	color: green;
    font-weight: bold;
}

.remove{
	text-align:center;
	color: red;
  font-weight: bold;
}

.default{
    opacity: 1;
}

.fade{
    -webkit-transition: opacity 2s; /* For Safari 3.1 to 6.0 */
    transition: opacity 2s;
    opacity: 0;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
li {
    float: left;
    border: 1px solid #000;
    border-bottom-width: 0;
    margin: 3px 3px 0px 3px;
    padding: 5px 5px 0px 5px;
    background-color: #CCC;
    color: #696969;
}
#mainView {
    border: 1px solid black;
  clear: both;
  padding: 0 1em;
}
.active {
    background-color: #FFF;
    color: #000;
}

p {
    cursor:pointer;
}

.gray-background{
    background-color: gray;
    width: 30%;
}

